header h3{
    font-family: 'Pacifico', cursive;
    font-size: xx-large;
    padding-bottom:  0%;
    
}

#firstimg{
    position: relative;
    float: left;
    margin-top: 40px;
    margin-left: 200px;
}
#leftheader{
    float:right;
    position: absolute;
    margin-left: 250px;

    
}
#rightheader{
    float: right;
    display:flex;
    padding: 2px;
    position: absolute;
    margin-left:900px;
    margin-top: 50px;
}
#pheader{
    font-size:8px;
    margin-bottom: 30px;
}
header{
    padding-bottom: 15%;
}
main h2{
    font-size: 50px;

}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
#middlemain{
    margin-left: 200px;

}
.pid{
    margin-left: 200px;
    margin-right: 200px;
}


#list{
    position:relative;
    margin-bottom: 100px;
    color:rgb(85, 82, 82);
    font-family: 'Patrick Hand', cursive;
    font-size: 25px;
    
}
#leftp{
    float: left;
    margin-left: 250px;
    bottom: 20px;
    right: 20px;
    left: 20px;
    position: absolute;
  

}
#rightp{
    float: right;
    margin-right:70px;
    bottom: 20px;
    right: 20px;
    left: 20px;
    position: absolute;
    margin-left: 570px;
  
}
p{
    color: rgb(70, 68, 68);
    font-size: larger;
}
h4{
    color: rgb(70, 68, 68);
    font-size: 20px;

}
#vanimg{
    clear: both;
    float:left;
    margin-left:250px;
    position: relative;
    margin-top: 40px;
}
h4{
    margin-left:180px;
} 

#lastdiv{
    position: absolute;
    float:right;
    margin-left: 150px;
    margin-right: 150px;

}
a{
    float: right;
    text-decoration: none;
    padding: 20px;
    background-color: rgb(196, 108, 75);
    margin-bottom: 30px ;
    margin-right: 200px;
    color:rgb(245, 237, 237);
    font-size: 20px;
    margin-top: 50px;
}
#lastimg{
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px ;
    
}
#footer{
    text-align: center;
    margin-bottom: 50px;

}





